#
# watchdog configuration
#


menuconfig AMLOGIC_WDT
	bool "Amlogic Watchdog Support"
	select WATCHDOG
	select WATCHDOG_CORE
	default n
	help
	  say y to enable Amlogic watchdog driver.


if AMLOGIC_WDT
config AMLOGIC_WDT_MESON
	tristate "Amlogic Meson GXBB SoCs watchdog support"
	default n
	help
		Say Y here to include support for the watchdog timer
		in Amlogic Meson GXBB SoCs.
		To compile this driver as a module, choose M here: the
		module will be called gxbb_wdt.
endif
